// Genera;
$sidebar-width: 22rem;

// Font Sizes
$body-font: 16px;
$heading-font: HarmoniaSans W01 SemiBd, sans-serif;;
$body-font: Graphik Web Regular, sans-serif;;
$body-heading: Graphik Web Semibold, sans-serif;;

// Colors
$white: #fff;
$body-bg: #F5F7FA;
$light-gray: #CBD2D9;
$dark-gray: rgba(203, 210, 217, 0.31);
$black: #3E4C59;
$light-green: #65D6AD;
$dark-green: #3EBD93;
$light-blue: #2BB0ED;
$link-color: #0B69A3;
$dark-blue: #0B69A3;
$overview-bg: #052235;
$red: #CF1124;
$orange: #FFCC00;
$yellow: #FCE588;

// Transition
$easeInOutQuad: cubic-bezier(0.455, 0.03, 0.515, 0.955);

// Box shadow
$box-shadow: 0 1px 25px 0 rgba(11,105,163,0.12);
$box-shadow-input-active: 0 1px 3px 0 rgba(50,50,93,0.15);

// Spacing
$input-padding:  0.6rem .75rem 0.6rem 3rem;
$border-radius: 4px;